@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    padding:0;
    margin:0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
    
}
body{
    background: #f9f9f9;
    max-height:100vh;
    overflow-x: hidden;
    overflow: auto;
}
.one{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:30px 100px;
    display :flex;
    justify-content:flex-start ;
    align-items: center;
}
.one li{
    list-style: none;
    display:inline-block;
    
}
.one li a{
    color:#359381;
    text-decoration: none;
    border-radius: 20px;
    padding:6px 15px;
    margin:0 30px;
}

.one li a:hover, .one li a.home{
    background:#359381;
    color: #f9f9f9;
}


.logo {
    font-size: 2em;
    color:#359381;
     pointer-events: none;
     margin-right: 270px;
}
.two{
    position: relative;
    display:flex;
    justify-content: center;
    align-items:  center;
    height:100vh;
}
.text{
    position:absolute;
    font-size: 5em;
    color:#fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);

}
.two img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    pointer-events: none;
}
.third{
    position: relative;
    background-color: #003329;
    padding:100px;
    
}
.third h2{
    font-size:3em;
    color:#fff;
    margin-bottom: 10px;
}
.third p{
    font-size:1em;
    color:#fff;
    font-weight: 300;
}

